# Environment variables
.env

# Config files
config/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Python tooling artifacts
.pytest_cache/
.coverage
coverage.xml

# Docker crap
*.log
docker-compose.override.yml

VSCode 
.vscode/

scan.sh
fetch-issues.sh
fetch-hotspots.sh
.scannerwork/
