gunicorn
gevent
gevent-websocket
flask
flask_socketio
flask_login
flask_sqlalchemy
Flask-Migrate
Flask-WTF
Werkzeug>=3.1.5
requests
urllib3>=2.6.3
musicbrainzngs
thefuzz
Unidecode
pylast
openai
flasgger
